body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .gallery-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .gallery {
    display: flex;
    height: 100%;
  }
  
  .image {
    flex: 0 0 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }
  
  .image.active {
    transform: translateX(0);
  }
  
  .image:not(.active) {
    transform: translateX(100%);
  }
  .sound img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
